@import ../../colorVars

.modal
    background-color: rgba(0, 0, 0, 0.7)

.modal-dialog
    border: 1px solid $textColor2
    border-radius: 5px
    color: $textColor2

.modal-header
    background-color: $navBarColor

.modal-body
    .list-group
        .list-group-item
            border: 1px solid $navBarColor
            color: $navBarColor

.modal-footer
    background-color: $navBarColor

.training-error
    color: red
    text-align: center

.list-bar
    display: flex
    span 
        border-radius: 5px
        margin: 0 1em
        animation: barGraph 2s

@keyframes barGraph
    0%
        width: 0
        